*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background-color: burlywood;
    width: 533px;
    border: 5px solid rgb(47, 255, 220);
    margin: 10px 20px;
    padding: 20px 100px;
    border-radius: 30px;
 }